<section style="margin-top:71px;">
    <div class="container">
        <div class="page-header">
            <h1>Registration </h1>
        </div>
        <div class="steps-progressbar">
            <ul>
                <li class="previous">Step 1</li>
                <li class="previous">Step 2</li>
                <li class="active">Step 3</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <form class="form-horizontal" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Plan &amp; Supporting Document</h3>
                        </div>
                        <div class="col-sm-3">
                            <p>Plan information</p>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="salutation">Plan *</label>
                                </div>
                                <div class="col-sm-8">
                                    <select class="form-control">
                                        <option value="">Please select</option>
                                        <option value="SAVE" selected="">eSAVE</option>
                                        <option value="FIX">eFIX</option>
                                        <option value="Q">eQ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="salutation">Duration</label>
                                </div>
                                <div class="col-sm-8">
                                    <select class="form-control">
                                        <option value="12" selected="">Please select</option>
                                        <option value="6">6 months</option>
                                        <option value="12">12 months</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="salutation">% Discount</label>
                                </div>
                                <div class="col-sm-8" style="padding-top:7px;">
                                    <span>10% </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="salutation">Sales Person (if applicable)</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Past 3 months usage &amp; supporting documents</p>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="salutation">Invoice Usage 1 (kWh)</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="number">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="salutation">Invoice Usage 2 (kWh)</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="number">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="salutation">Invoice Usage 3 (kWh)</label>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control" type="number">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="salutation">Past 3 Months Bill</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput">
                                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-default btn-file">
                                            <span class="fileinput-new">Choose file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="...">
                                        </span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput">
                                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-default btn-file">
                                            <span class="fileinput-new">Choose file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="...">
                                        </span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput">
                                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-default btn-file">
                                            <span class="fileinput-new">Choose file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="...">
                                        </span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="salutation">Tenancy Agreement</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput">
                                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-default btn-file">
                                            <span class="fileinput-new">Choose file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="...">
                                        </span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label" for="salutation">SP Form</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput">
                                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-default btn-file">
                                            <span class="fileinput-new">Choose file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="file" name="...">
                                        </span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-sm-offset-4">
                                    <p>Click
                                        <a href="#">here </a> to donwload SP Form</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12" style="padding:15px;">
                <a class="btn btn-default btn-lg" role="button" routerLink="/signup-2" style="margin:0 5px;">Back </a>
                <a class="btn btn-primary btn-lg" role="button" routerLink="/dashboard" style="margin:0 5px;">Submit </a>
            </div>
        </div>
    </div>
</section>