<section style="margin-top:71px;">
  <div class="container">
    <div class="page-header">
      <h1>Registration </h1>
    </div>
    <div class="steps-progressbar">
      <ul>
        <li class="previous">Step 1</li>
        <li class="active">Step 2</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <form class="form-horizontal" method="post">
          <div class="row">
            <div class="col-md-12">
              <h3>Basic Information &amp; Plans</h3>
            </div>
            <div class="col-sm-3">
              <p>Personal Details</p>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Name *</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="salutation">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Email *</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="salutation" inputmode="email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Contact No.*</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="salutation" inputmode="tel">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p>Premise Information</p>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation"> </label>
                </div>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input class="form-control text-left" type="text" name="salutation" placeholder="Search address...">
                    <i class="glyphicon glyphicon-search input-group-addon"></i>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Address 1 (Blk / Street) *</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="salutation">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Address 2 (Unit No. / Bldg) *</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="salutation">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Postal Code *</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="salutation">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="residentialType">Residential Type *</label>
                </div>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option value="">Please select</option>
                    <option value="HDB-1rm" selected="true">HDB-1rm</option>
                    <option value="HDB-2rm">HDB-2rm</option>
                    <option value="HDB-3rm">HDB-3rm</option>
                    <option value="HDB-4rm">HDB-4rm</option>
                    <option value="HDB-5rm">HDB-5rm</option>
                    <option value="Exec">Exec</option>
                    <option value="Condo">Condo</option>
                    <option value="Landed">Landed</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="accountNumber">Account Number *</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="accountNumber">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p>Plans </p>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="">Plan *</label>
                </div>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option value="">Please select</option>
                    <option value="SAVE" selected="">eSAVE</option>
                    <option value="FIX">eFIX</option>
                    <option value="Q">eQ</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="">Duration *</label>
                </div>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option value="12" selected="">Please select</option>
                    <option value="6">6 months</option>
                    <option value="12">12 months</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">% Discount</label>
                </div>
                <div class="col-sm-8" style="padding-top:7px;">
                  <span>10% </span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Sales Person (if applicable)</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text">
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="">Self Read / Non-Self Read *</label>
                </div>
                <div class="col-sm-8">
                    <select class="form-control">
                        <option value="">Please select</option>
                        <option value="Yes" selected="">Yes</option>
                        <option value="No">No</option>
                      </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="">Registration Date *</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="">Preferred Date of Supply *</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsValue]="bsValue">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="">Contract End Date</label>
                </div>
                <div class="col-sm-8">
                  Preferred Date of Supply + Duration
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="accountNumber">Existing Meter Type *</label>
                </div>
                <div class="col-sm-8">
                    <select class="form-control">
                        <option value="">Please select</option>
                        <option value="AMI" selected="">AMI</option>
                        <option value="Cumulative">Cumulative</option>
                        <option value="SRLP">SRLP</option>
                      </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="requestforMeterChange">Request for Meter Change</label>
                </div>
                <div class="col-sm-8">
                  <input class="control-label cs-checkbox" type="checkbox" name="requestforMeterChange" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                  <label>
                    <input class="cs-checkbox" type="checkbox" name="thefactsheet"> I agree to the fact sheet </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                  <label>
                    <input class="cs-checkbox" type="checkbox" name="termsAndConditions"> I agree to the terms & conditions </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12" style="padding:15px;">
        <a class="btn btn-default btn-lg" role="button" routerLink="/res-signup-1" style="margin:0 5px;">Back </a>
        <a class="btn btn-primary btn-lg" role="button" routerLink="/dashboard" style="margin:0 5px;">Submit </a>
      </div>
    </div>
  </div>
</section>