<div>
  <nav class="navbar navbar-default navbar-fixed-top navigation-clean-button">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html" style="width:auto;padding:0;margin:0 10px 0 -1px;">
          <img src="assets/img/logo.png" style="width:auto;height:100%;margin:0;">
        </a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav">
          <li class="active" role="presentation">
            <a href="#">For Residential</a>
          </li>
          <li role="presentation">
            <a href="#">For Business</a>
          </li>
        </ul>
        <p class="navbar-text navbar-right actions">
          <a class="navbar-link login" routerLink="/dashboard">Log In</a>
          <a class="btn btn-default action-button" role="button" routerLink="/signup">Register </a>
        </p>
      </div>
    </div>
  </nav>
</div>
<section style="margin-top:71px;">
  <div class="container">
    <div class="page-header">
      <h1>Registration </h1>
    </div>
    <div class="steps-progressbar">
      <ul>
        <li class="previous">Step 1</li>
        <li class="active">Step 2</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-12">
        <form class="form-horizontal" method="post">
          <div class="row">
            <div class="col-md-12">
              <h3>Basic Information &amp; Plans</h3>
            </div>
            <div class="col-sm-3">
              <p>Personal Details</p>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Name *</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="salutation">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Email *</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="salutation" inputmode="email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Contact No.*</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="salutation" inputmode="tel">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p>Service Address</p>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation"> </label>
                </div>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input class="form-control text-left" type="text" name="salutation" placeholder="Search address...">
                    <i class="glyphicon glyphicon-search input-group-addon"></i>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Address 1 (Blk / Street) *</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="salutation">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Address 2 (Unit No. / Bldg) *</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="salutation">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Postal Code *</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text" name="salutation">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <p>Plans </p>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Plan *</label>
                </div>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option value="">Please select</option>
                    <option value="SAVE" selected="">eSAVE</option>
                    <option value="FIX">eFIX</option>
                    <option value="Q">eQ</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Duration</label>
                </div>
                <div class="col-sm-8">
                  <select class="form-control">
                    <option value="12" selected="">Please select</option>
                    <option value="6">6 months</option>
                    <option value="12">12 months</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">% Discount</label>
                </div>
                <div class="col-sm-8" style="padding-top:7px;">
                  <span>10% </span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label" for="salutation">Sales Person (if applicable)</label>
                </div>
                <div class="col-sm-8">
                  <input class="form-control" type="text">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12" style="padding:15px;">
        <a class="btn btn-default btn-lg" role="button" routerLink="/res-signup-1" style="margin:0 5px;">Back </a>
        <a class="btn btn-primary btn-lg" role="button" routerLink="/dashboard" style="margin:0 5px;">Submit </a>
      </div>
    </div>
  </div>
</section>