<div>
  <nav class="navbar navbar-default navbar-fixed-top navigation-clean-button">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="width:auto;padding:0;margin:0 10px 0 -1px;">
          <img src="assets/img/logo.png" style="width:auto;height:100%;margin:0;">
        </a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav">
          <li class="active" role="presentation">
            <a href="#">Home </a>
          </li>
          <li role="presentation">
            <a routerLink="/billpayment">Payment History</a>
          </li>
        </ul>
        <p class="navbar-text navbar-right actions">
          <span>Welcome Alice</span>
          <a class="btn btn-default action-button" role="button" routerLink="/index">Logout </a>
        </p>
      </div>
    </div>
  </nav>
</div>
<div class="container" style="margin-top:71px;padding-top:15px;">
  <div class="panel panel-default" style="margin-top:0;">
    <div class="panel-heading hidden"></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-6">
          <p class="text-center">
            <span class="fa-stack">
              <i class="fa fa-circle text-primary fa-stack-2x"></i>
              <i class="fa fa-info fa-stack-1x fa-inverse"></i>
              <br>
              <br>
            </span>
            <br>
            <span class="h2">1124356 </span>
            <br>
            <span class="text-uppercase text-muted h6">ACCOUNT NUMBER</span>
          </p>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <p class="text-center">
            <span class="fa-stack">
              <i class="fa fa-circle text-primary fa-stack-2x"></i>
              <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
              <br>
              <br>
            </span>
            <br>
            <span class="h2">$189.26 </span>
            <br>
            <span class="text-uppercase text-muted h6">Due on 31 Nov 2017</span>
          </p>
        </div>
        <div class="col-sm-2 col-xs-6" style="text-align:center;">
          <button class="btn btn-primary round-button" type="button">Pay Now</button>
        </div>
        <div class="col-sm-2 col-xs-6" style="text-align:center;">
          <button class="btn btn-primary round-button" type="button">View Bill</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div id="example">
      <div class="demo-section k-content wide">
        <kendo-chart
        [series]="chartConfig.series"
        [legend]="chartConfig.legend"
        [title]="chartConfig.title"
        [seriesDefaults]="chartConfig.seriesDefaults"
        [panes]="chartConfig.panes"
        [valueAxis]="chartConfig.valueAxis"
        [categoryAxis]="chartConfig.categoryAxis"
        [tooltip]="chartConfig.tooltip"
        >
    
      </kendo-chart>
      </div>
    </div>
  </div>
</div>