<section class="pricing-table" style="padding-top:20px;padding-bottom:20px; margin-top: 70px">
    <div class="container">
        <div>
            <h2>Answer the following question to suggest you a plan</h2>
        </div>
    </div>
</section>
<div style="font-size:20px;background-color:#c5e5f6;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="height:100%;">1. This is question number on1. This is question number on1. This is question number on1. This is question
                    number on1. This is question number on1. This is question number on1.</p>
            </div>
        </div>
    </div>
</div>
<div style="font-size:18px;background-color:#c5e5f6;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Option 1</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Option 2</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Option 3</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Option 4</label>
                </div>
            </div>
        </div>
    </div>
</div>
<hr style="margin:0px;">
<div style="font-size:20px;background-color:rgba(249,183,193,0.5);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="height:100%;">2. This is question number on1. This is question number on1. This is question number on1. This is question
                    number on1. This is question number on1. This is question number on1.</p>
            </div>
        </div>
    </div>
</div>
<div style="font-size:18px;background-color:rgba(249,183,193,0.5);">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Option 1</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Option 2</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Option 3</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Option 4</label>
                </div>
            </div>
        </div>
    </div>
</div>
<hr style="margin:0px;">
<div style="font-size:20px;background-color:#c5e5f6;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="height:100%;">3. This is question number on1. This is question number on1. This is question number on1. This is question
                    number on1. This is question number on1. This is question number on1.</p>
            </div>
        </div>
    </div>
</div>
<div style="font-size:18px;background-color:#c5e5f6;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Option 1</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Option 2</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Option 3</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Option 4</label>
                </div>
            </div>
        </div>
    </div>
</div>
<hr style="margin:0px;">
<div style="font-size:20px;background-color:rgba(249,183,193,0.5);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="height:100%;">4. This is question number on1. This is question number on1. This is question number on1. This is question
                    number on1. This is question number on1. This is question number on1.</p>
            </div>
        </div>
    </div>
</div>
<div style="font-size:18px;background-color:rgba(249,183,193,0.5);">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Option 1</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Option 2</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Option 3</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">Option 4</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default" type="button" style="margin:20px;background:#56c6c6;border-radius:20px;color:#fff;box-shadow:none;border:none;text-shadow:none;padding:10px 22px;transition:background-color 0.25s;width:150px;">Submit </button>
            </div>
        </div>
    </div>
</div>