<div>
  <nav class="navbar navbar-default navbar-fixed-top navigation-clean-button">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html" style="width:auto;padding:0;margin:0 10px 0 -1px;">
          <img src="assets/img/logo.png" style="width:auto;height:100%;margin:0;">
        </a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav">
          <li class="active" role="presentation">
            <a href="#">For Residential</a>
          </li>
          <li role="presentation">
            <a href="#">For Business</a>
          </li>
        </ul>
        <p class="navbar-text navbar-right actions">
          <a class="navbar-link login" routerLink="/dashboard">Log In</a>
          <a class="btn btn-default action-button" role="button" routerLink="/signup">Register </a>
        </p>
      </div>
    </div>
  </nav>
</div>
<section style="margin-top:71px;">
  <div class="container">
    <div class="page-header">
      <h1>Registration </h1>
    </div>
    <div class="steps-progressbar">
      <ul>
        <li class="active">Step 1</li>
        <li>Step 2</li>
      </ul>
    </div>
  </div>
</section>
<div>
  <div class="container">
    <div class="row row-divided" style="margin:15px -15px;">
      <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 text-center" style="padding:0px 25px;">
        <a class="btn btn-default btn-block btn-lg btn-social btn-facebook" role="button" href="#" target="_blank">
          <i class="fa fa-facebook"></i>CONNECT WITH FACEBOOK</a>
        <a class="btn btn-default btn-block btn-lg btn-social btn-google" role="button" href="#" target="_blank">
          <i class="fa fa-google"></i> CONNECT WITH GOOGLE</a>
      </div>
      <div class="hidden-xs hidden-sm vertical-divider">
        <span>OR </span>
      </div>
      <div class="hidden-md hidden-lg horizontal-divider">
        <span>OR </span>
      </div>
      <div class="col-lg-4 col-md-5" style="padding:0px 25px;">
        <form>
          <div class="form-group">
            <input class="form-control input-lg text-left" type="text" required="" placeholder="NAME" minlength="3">
          </div>
          <div class="form-group">
            <input class="form-control input-lg text-left" type="text" required="" placeholder="EMAIL" minlength="3">
          </div>
          <div class="form-group">
            <input class="form-control input-lg text-left" type="text" required="" placeholder="PASSWORD" minlength="3">
          </div>
          <div class="form-group">
            <a class="btn btn-primary btn-block btn-lg" role="button" routerLink="/res-signup-2">CREATE ACCOUNT</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>